In [1]:
from datetime import datetime, timedelta
import database
import mysql.connector
from mysql.connector import Error
import pandas as pd
import os
from tqdm import tqdm
from concurrent.futures import ThreadPoolExecutor
from sqlalchemy import create_engine

In [2]:
try:
    connection = mysql.connector.connect(
        host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
        database='quote',
        user='admin',
        password='admin123'
        )
    if connection.is_connected():
        db_Info =connection.get_server_info()
        print("Connected to MySQL Server version ",db_Info)
        connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
        engine = create_engine(connection_string)
except Error as e:
    print("Error while connecting to MySQL",e)
cursor = connection.cursor()

cursor.execute("SHOW TABLES;")
results = cursor.fetchall()
for row in results:
    print(row)

Connected to MySQL Server version  8.0.35
('Tradeasy_quotation',)
('brand_conversion',)
('brand_conversion_table',)
('country_conversion',)
('country_conversion_table',)
('packing_conversion',)
('product_conversion',)
('spec_conversion',)
('supplier_conversion',)
('warehouse_conversion',)
('weightunit_conversion',)

In [7]:
def createtable(df,table_name):
    try:
        connection = mysql.connector.connect(
        host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
        database='quote',
        user='admin',
        password='admin123'
        )
        if connection.is_connected():
            db_Info =connection.get_server_info()
            print("Connected to MySQL Server version ",db_Info)
            connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
            engine = create_engine(connection_string)
    except Error as e:
        print("Error while connecting to MySQL",e)
    cursor = connection.cursor()

In [15]:
def deletetable(table_name):
    try:
        connection = mysql.connector.connect(
        host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
        database='quote',
        user='admin',
        password='admin123'
        )
        if connection.is_connected():
            db_Info =connection.get_server_info()
            print("Connected to MySQL Server version ",db_Info)
            connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
            engine = create_engine(connection_string)
    except Error as e:
        print("Error while connecting to MySQL",e)
    cursor = connection.cursor()
    cursor.execute(f"Delete from {table_name} ;")

In [4]:
csv_files = [f for f in os.listdir('conversion_table/') if f.endswith('.csv')]
for csv_file in csv_files:
   
   df = pd.read_csv(os.path.join('conversion_table/', csv_file))
   table_name = os.path.splitext(csv_file)[0]
   createtable(df,table_name)
   print(f"Table '{table_name}' created successfully.")

Connected to MySQL Server version  8.0.35
Table 'brand_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'category_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'country_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'packing_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'product_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'spec_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'supplier_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'warehouse_conversion' created successfully.
Connected to MySQL Server version  8.0.35
Table 'weightunit_conversion' created successfully.

In [8]:
category=pd.read_csv(r"C:\Users\Balle\Downloads\tradeasy-main\tradeasy-main\conversion_table\category_conversion.csv")
try:
    connection = mysql.connector.connect(
        host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
        database='quote',
        user='admin',
        password='admin123'
        )
    if connection.is_connected():
        db_Info =connection.get_server_info()
        print("Connected to MySQL Server version ",db_Info)
        connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
        engine = create_engine(connection_string)
except Error as e:
    print("Error while connecting to MySQL",e)
cursor = connection.cursor()
category.to_sql("category_conversion", con=engine, index=False, if_exists='replace')

Connected to MySQL Server version  8.0.35

-1

In [24]:
try:
    connection = mysql.connector.connect(
        host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
        database='quote',
        user='admin',
        password='admin123'
        )
    if connection.is_connected():
        db_Info =connection.get_server_info()
        print("Connected to MySQL Server version ",db_Info)
        connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
        engine = create_engine(connection_string)
except Error as e:
    print("Error while connecting to MySQL",e)
cursor = connection.cursor()

cursor.execute("SELECT * FROM country_conversion_table;")
print(cursor.fetchall())

Connected to MySQL Server version  8.0.35
[('英國', '英', '英 國', None), ('美國', '美', None, None), ('巴西', '巴', None, None), ('愛爾蘭', '愛', None, None), ('紐西蘭', '紐', '新西蘭', None), ('澳洲', '澳', '澳大利亞', None), ('加拿大', '加', None, None), ('阿根廷', '阿', None, None), ('墨西哥', '墨', None, None), ('荷蘭', '荷', None, None), ('俄羅斯', '俄', None, None), ('德國', '德', None, None), ('匈牙利', '匈', None, None), ('西班牙', '西', None, None), ('波蘭', '波', None, None), ('挪威', '挪 威', None, None), ('丹麥', '丹', None, None), ('法國', None, None, None), ('中國', '中', None, None), ('白俄羅斯', None, None, None), ('比利時', None, None, None), ('保加利亞', None, None, None), ('南非', None, None, None), ('捷克', None, None, None), ('香港', None, None, None), ('印度', None, None, None), ('義大利', None, None, None), ('日本', None, None, None), ('韓國', None, None, None), ('緬甸', None, None, None), ('瑞典', None, None, None), ('瑞士', None, None, None), ('泰國', None, None, None), ('烏克蘭', '鳥克蘭', None, None), ('土耳其', None, None, None), ('烏拉圭', None, None, None), ('越南', None, None, None), ('羅馬尼亞', None, None, None), ('葡萄牙', None, None, None), ('巴基斯坦', None, None, None)]

In [5]:
try:
    connection = mysql.connector.connect(
        host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
        database='quote',
        user='admin',
        password='admin123'
        )
    if connection.is_connected():
        db_Info =connection.get_server_info()
        print("Connected to MySQL Server version ",db_Info)
        connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
        engine = create_engine(connection_string)
except Error as e:
    print("Error while connecting to MySQL",e)
cursor = connection.cursor()

cursor.execute("SELECT * FROM category_conversion;")
print(cursor.fetchall())

Connected to MySQL Server version  8.0.35
[('Beef', '牛前筒骨'), ('Beef', '牛腩'), ('Beef', '牛下肩肉眼卷'), ('Beef', '肩胛板翼'), ('Beef', '牛仔扒'), ('Beef', '牛冧'), ('Beef', '鯉魚管'), ('Beef', '牛肋條'), ('Beef', '金錢𦟌'), ('Beef', '牛𦟌'), ('Beef', '牛柳頭'), ('Beef', '牛肉眼'), ('Beef', '有骨肉眼'), ('Beef', '斧頭扒'), ('Beef', '西冷'), ('Beef', '牛柳'), ('Beef', '牛板腱'), ('Beef', '牛T骨'), ('Beef', '牛仔骨'), ('Beef', '肩胛肥牛肉'), ('Beef', '去骨牛小排'), ('Beef', 'Pastrami'), ('Beef', 'SuperPlate肥牛肉'), ('Beef', '封門柳'), ('Beef', '白牛仔湯骨'), ('Beef', '白牛仔扒'), ('Beef', '白牛仔扒'), ('Beef', '牛肺'), ('Beef', '牛百葉'), ('Beef', '牛金錢肚'), ('Beef', '牛骨髓'), ('Beef', '牛肚'), ('Beef', '牛孖筋'), ('Beef', '牛大腸'), ('Beef', '牛尾'), ('Beef', '牛舌'), ('Pork', '豬梅肉'), ('Pork', '豬二肉'), ('Pork', '豬扒'), ('Pork', '豬肉眼'), ('Pork', '豬背骨'), ('Pork', '豬腩帶骨'), ('Pork', '豬腩挑骨'), ('Pork', '豬肋排'), ('Pork', '豬四肉'), ('Pork', '豬脊膘油'), ('Pork', '豬下梅肉'), ('Pork', '豬扒法式'), ('Pork', '豬肋條'), ('Pork', '豬手'), ('Pork', '豬腿筒骨'), ('Pork', '豬頸湯骨'), ('Pork', '豬腩排條'), ('Pork', '豬軟骨'), ('Lamb', '白山羊帶皮'), ('Lamb', '羊仔肩捲肉'), ('Lamb', '羊仔肩有骨方切'), ('Lamb', '羊仔骨排'), ('Lamb', '法式羊架'), ('Lamb', '羊腩'), ('Lamb', '羊仔髀帶骨'), ('Lamb', '羊仔髀肉'), ('Chicken', '春雞'), ('Chicken', '雞腎'), ('Chicken', '雞大胸'), ('Chicken', '雞白髀'), ('Chicken', '雞上腿肉'), ('Chicken', '雞扒'), ('Chicken', '雞柳'), ('Chicken', '雞軟骨'), ('Chicken', '雞翼鎚'), ('Chicken', '雞腳'), ('Chicken', '火雞子'), ('Poultry', '鴨腳'), ('Poultry', '鵝半翼'), ('Poultry', '鴨舌'), ('Poultry', '鵝腳'), ('Poultry', '鵝腎'), ('Chicken', '全雞'), ('Chicken', '雞全翼'), ('Chicken', '雞 下髀'), ('Chicken', '鳳爪'), ('Chicken', '雞中翼'), ('Premade', '麥樂雞塊'), ('Premade', '鹽酥雞粒'), ('Premade', '炭燒雞腿肉串'), ('Premade', '成燒雞腿蔥串'), ('Poultry', '米鴨'), ('Poultry', '鴨腿'), ('Poultry', '鴨胸'), ('Premade', '雞肉腸'), ('Vegetable', '青豆'), ('Vegetable', '粟米'), ('Vegetable', '雜菜'), ('Vegetable', '薯條'), ('Vegetable', '薯餅'), ('Vegetable', '薯角'), ('Vegetable', '薯格'), ('Chicken', '日本森林雞即食雞胸肉'), ('Seafood', '青邊鮑魚'), ('Seafood', '黑遴鮑魚'), ('Seafood', '黃螺頭'), ('Seafood', '海參'), ('Seafood', '珊瑚蛙'), ('Seafood', '帶子'), ('Seafood', '刺身帶子'), ('Seafood', '熟帆立貝'), ('Seafood', '煮食用帶子'), ('Seafood', '翡翠螺'), ('Seafood', '黃金螺'), ('Seafood', '原隻熟膏口'), ('Seafood', '半殼青口'), ('Seafood', '青口肉'), ('Seafood', '藍青口'), ('Seafood', '蠔肉'), ('Seafood', '銀鱈魚'), ('Seafood', '比目魚'), ('Seafood', '黃立鯧'), ('Seafood', '去皮鯰魚柳'), ('Seafood', '青衣魚柳'), ('Seafood', '石斑魚柳'), ('Seafood', '羅非魚'), ('Seafood', '羅非魚柳'), ('Seafood', '三文魚'), ('Seafood', '鮟鰄魚塊'), ('Seafood', '青衣魚塊'), ('Seafood', '藍尖属無損鱈魚塊 '), ('Seafood', '比目魚扒'), ('Seafood', '銀鱈魚扒'), ('Seafood', '三文魚扒'), ('Seafood', '三文魚柳'), ('Seafood', '白蝦肉'), ('Seafood', '生鳳尾白蝦肉'), ('Seafood', '熟鳳尾虎蝦肉'), ('Seafood', '原隻虎蝦'), ('Seafood', '軟殼蟹'), ('Seafood', '熟雪蟹爪'), ('Seafood', '原隻熟龍蝦'), ('Seafood', '墨魚柳'), ('Premade', '仿蟹柳'), ('Premade', '炸帶子'), ('Premade', '燒魚卷'), ('Premade', '迷你燒魚卷'), ('Premade', '鳴門卷'), ('Premade', '吉列炸蠔'), ('Vegetable', '甘筍球'), ('Meatball', '花枝丸'), ('Meatball', '香菇貢丸'), ('Meatball', '魚籽仿龍蝦球'), ('Meatball', '麻吉燒'), ('Meatball', '龍蝦丸'), ('Meatball', '白魚蛋'), ('Meatball', '牛筋丸'), ('Meatball', '黑椒牛筋丸'), ('Meatball', '蝦滑'), ('Meatball', '海鮮雜錦'), ('Meatball', '炸魚塊'), ('Meatball', '蝦多士'), ('Meatball', '吉列蝦漢堡'), ('Beef', '西冷 Striploin サ-ロイン'), ('Beef', '肉眼 Ribeye リプアイロ-ル'), ('Beef', '肋益肉 Rib Cap リプキャッ'), ('Beef', '牛柳 Tenderloin ヒレ'), ('Beef', '牛上脑/爱胛肉眼 Chuck Roll 力タ口-ス'), ('Beef', '沙巴當 Zabuton(Chuck Flap) ザプトン'), ('Beef', '上局胛肉/前腿肉 Clod ツデ'), ('Beef', '肩胛小排/三角腩 Chuck Rib サンカクバラ'), ('Beef', '牛小排/内腹肉 Short Rib ウチバラ'), ('Beef', '胸腹肉/外腹肉 Short Plate ソトバラ'), ('Beef', '内後腿肉 Top Round ウチモモ'), ('Beef', '外後瑟肉 Bottom Round ソトモモ'), ('Beef', '和尚頭/牛冧 Knuckle マル'), ('Beef', '上後腰脊多 Top SirloinButt ラム'), ('Beef', '西冷 Striploin サ-ロイン'), ('Beef', '肉眼 Ribeye リプアイロ-ル'), ('Beef', '肋蓋肉 Rib Cap リプキャップ'), ('Beef', '西冷 Striploin サ-ロイン'), ('Beef', '西冷 Striploin サ-ロイン'), ('Beef', '肉眼 Ribeye リプロ-ス'), ('Beef', '肉眼 Ribeye リプロ-ス'), ('Beef', '肉眼頂蓋 Rib Cap りフ* ロ-スカフ*リ'), ('Beef', '肉眼頂蓋 Rib Cap りフ* ロ-スカフ*リ'), ('Beef', '牛柳 Tenderloin ヒレ'), ('Beef', '牛柳 Tenderloin ヒレ'), ('Beef', '牛上腾/肩胛肉眼 Chuck EyeRoll クラシタ'), ('Beef', '牛上腾/肩胛肉眼 Chuck EyeRoll クラシタ'), ('Beef', '沙巴當 Chuck Flap(Zabuton) ザプトン'), ('Beef', '沙巴當 Chuck Flap(Zabuton) ザプトン'), ('Beef', '上肩房胛肉/前腿肉 ShoulderClod ウデ'), ('Beef', '上肩房胛肉/前腿肉 ShoulderClod ウデ'), ('Beef', '辣椒肉 Chuck Tender トンビ'), ('Beef', '辣椒肉 Chuck Tender トンビ'), ('Beef', '屑胛小排/三角腩 Chuck ShortRib 三角バラ'), ('Beef', '屑胛小排/三角腩 Chuck ShortRib 三角バラ'), ('Beef', '牛小排組 Short Rib Set 中パラペッ カイノミ'), ('Beef', '牛小排組 Short Rib Set 中パラペッ カイノミ'), ('Beef', '外腹肉組 Short PlateSet 外バラ+フランク+インサイド'), ('Beef', '外腹肉組 Short PlateSet 外バラ+フランク+インサイド'), ('Beef', '内後腿肉 Top Round 内ヒラ'), ('Beef', '内後腿肉 Top Round 内ヒラ'), ('Beef', '外後腿肉 BottomRound 外ヒラ'), ('Beef', '外後腿肉 BottomRound 外ヒラ'), ('Beef', '和尚頭/牛冧 Knuckle マル'), ('Beef', '和尚頭/牛冧 Knuckle マル'), ('Beef', '友三角 Tri-Tip ヒウチ'), ('Beef', '友三角 Tri-Tip ヒウチ'), ('Beef', '爵肉 Rump ラムイチ'), ('Beef', '爵肉 Rump ラムイチ'), ('Beef', '臂蓋肉 Rump Cap イチ冭'), ('Beef', '臂蓋肉 Rump Cap イチ冭'), ('Beef', '帶骨牛腩'), ('Beef', '牛草肚'), ('Beef', '牛膀'), ('Beef', '牛小腸'), ('Beef', 'Plate Eye肥牛'), ('Beef', 'Short Plate肥牛'), ('Chicken', '雞髀肉'), ('Chicken', '上脾肉'), ('Pork', '豬頸骨'), ('Pork', '燒排骨'), ('Pork', '豬全手'), ('Pork', '豬踭'), ('Pork', '豬肚'), ('Pork', '豬大腸'), ('Pork', '豬舌'), ('Meatball', '墨魚丸'), ('Meatball', '豬肉丸'), ('Meatball', '牛丸'), ('Meatball', '墨魚腐皮卷'), ('Seafood', '海鮮什錦'), ('Premade', '仿鮑片'), ('Premade', '仿蟹柳'), ('Premade', '芝士腸\xa0'), ('Premade', '火腿'), ('Premade', '脆皮腸'), ('Meatball', '炸魚蛋'), ('Premade', '司華力腸'), ('Vegetable', '曲條'), ('Vegetable', '手工胡椒烤餅'), ('Vegetable', '韭菜魚餅'), ('Vegetable', '手工花枝鑲油條'), ('Vegetable', '玉米魚餅'), ('Vegetable', '花枝酥'), ('Vegetable', '芝士條'), ('Vegetable', '洋蔥圈')]

In [ ]:
try:
    connection = mysql.connector.connect(
        host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
        database='quote',
        user='admin',
        password='admin123'
        )
    if connection.is_connected():
        db_Info =connection.get_server_info()
        print("Connected to MySQL Server version ",db_Info)
        connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
        engine = create_engine(connection_string)
except Error as e:
    print("Error while connecting to MySQL",e)
cursor = connection.cursor()

In [4]:
def insert(table,new_standard_name, new_common_name):
  try:
      connection = mysql.connector.connect(
          host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
          database='quote',
          user='admin',
          password='admin123'
          )
      if connection.is_connected():
          db_Info =connection.get_server_info()
          print("Connected to MySQL Server version ",db_Info)
          connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
          engine = create_engine(connection_string)
  except Error as e:
      print("Error while connecting to MySQL",e)
  cursor = connection.cursor()
   # 查找是否存在相同的 Standard_name
  cursor.execute(f"SELECT * FROM {table} WHERE Standard_name = '{new_standard_name}'")
  existing_row = cursor.fetchone()
  existing_common_names = []
   
  if existing_row:
       cursor.execute(f"SHOW COLUMNS FROM {table}")
       column_num=len(cursor.fetchall())
       for i in range(1, column_num):
        variable_name = f"existing_common_name{i}"
        existing_common_names.append(variable_name)
        globals()[variable_name] = existing_row[i]

       # 获取不重复的 Common_name
       common_names = set([globals()[name] for name in existing_common_names] + [new_common_name])
       common_names = [name for name in common_names if name]  # 去掉 None
       print(common_names,"common_names")
       print(str(common_names)[1:-1])

       # 更新现有行
       if len(common_names)>column_num-1:
         print("need to add new column")
         new_column = f"Common_name{len(common_names)}"
         sql_statement = f"ALTER TABLE {table} ADD COLUMN {new_column} TEXT"
         cursor.execute(sql_statement)

       for i in range(len(common_names)):
          cursor.execute(f"UPDATE {table} SET Common_name{i+1} = '{common_names[i]}' WHERE Standard_name='{new_standard_name}'")
          print(f"updated {table} SET Common_name{i+1} = '{common_names[i]}' WHERE Standard_name='{new_standard_name}'")
  else:
       # 插入新行
       cursor.execute(f"INSERT INTO {table} (Standard_name, Common_name1) VALUES ('{new_standard_name}', '{new_common_name}')")
       print(f"inserted INTO {table} (Standard_name, Common_name1) VALUES ('{new_standard_name}', '{new_common_name}')")

In [39]:
insert("country_conversion_table",'亚塞拜然', "亚")

Connected to MySQL Server version  8.0.35
inserted INTO country_conversion_table (Standard_name, Common_name1) VALUES ('亚塞拜然', '亚')

In [10]:
insert("category_conversion",'随便的一种牛', "Beef")

Connected to MySQL Server version  8.0.35
SELECT * FROM category_conversion WHERE Standard_name = '随便的一种牛'
inserted INTO category_conversion (Standard_name, Common_name1) VALUES ('随便的一种牛', 'Beef')

In [13]:
def delete(table,delete_standard_name):
  try:
      connection = mysql.connector.connect(
          host='quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com',
          database='quote',
          user='admin',
          password='admin123'
          )
      if connection.is_connected():
          db_Info =connection.get_server_info()
          print("Connected to MySQL Server version ",db_Info)
          connection_string = f"mysql+mysqlconnector://admin:admin123@quote.c9ac6sewqau0.ap-southeast-2.rds.amazonaws.com/quote"
          engine = create_engine(connection_string)
  except Error as e:
      print("Error while connecting to MySQL",e)
  cursor = connection.cursor()
  cursor.execute(f"DELETE FROM {table} WHERE Standard_name = '{delete_standard_name}'")
  print(f"DELETE FROM {table} WHERE Standard_name = '{delete_standard_name}'")

In [14]:
delete("category_conversion","随便的一种牛")

Connected to MySQL Server version  8.0.35
DELETE FROM category_conversion WHERE Standard_name = '随便的一种牛'